<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="/assets/css/styles.min.css"/>
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div>
        <th:block th:replace="Admin/management::aside"></th:block>
    </div>
    <div class="body-wrapper">
        <div>
            <th:block th:replace="Admin/management::header"></th:block>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="container my-5">
                            <h1 class="mb-4">Thêm Diễn Viên</h1>
                            <form th:action="@{/actors/add}" th:object="${actor}" method="post">
                                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                                    <p th:text="${errorMessage}"></p>
                                </div>
                                <div class="mb-3">
                                    <label for="actorName" class="form-label">Thêm Tên Diễn Viên:</label>
                                    <input  placeholder="Nhập Tên" type="text" id="actorName" th:field="*{actorName}" class="form-control"
                                           required/>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success">Thêm Diễn Viên</button>
                                </div>
                            </form>



                            <form style="margin-top: 50px" th:action="@{/actors/add-actors}" method="post">
                                <div class="form-group">
                                    <label  class="form-label" for="apiUrl">Thêm Diễn Viên Từ API:</label>
                                    <input type="text" class="form-control" id="apiUrl" name="apiUrl"
                                           placeholder="Nhập URL API" required>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Thêm Diễn Viên</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
</body>
</html>
